<div class="skt-builder-block-wrapper skt-builder-home-section1-block skt-builder-home-section1-block-{{id}}" style="{{#if blockBackgroundColor}}background-color: {{blockBackgroundColor}}; {{/if}} {{#if blockBgImageUrl}}background-image: url({{blockBgImageUrl}}); {{/if}}padding-bottom: {{blockPaddingBottom}}px; padding-top: {{blockPaddingTop}}px; {{#if blockParallaxEffect}}background-attachment: fixed;{{/if}}">
	<div class="skt-builder-block-inner skt-builder-block-inner-{{id}}" style="{{#if blockAnimation}}visibility: hidden;{{/if}}">
		<div class="skt-builder-container">

			{{#if blockTitle}}
				<div class="skt-builder-block-title" style="text-align: {{blockTitleAlign}}; {{#if blockTitleShadow}}text-shadow: 4px 4px 2px {{blockTitleShadowColor}};{{/if}}">
					<h2 style="color: {{blockTitleColor}}; font-size: {{blockTitleFontSize}}px; margin-bottom: {{blockTitleMarginBottom}}px; text-align: {{blockTitleAlign}};">{{blockTitle}}
                    {{#if blockTitleBdhide}}
                    <div class="clear"></div>
                    <div class="titleborder" style="float:{{blockTitleAlign}}; border-color:{{blockTitleBdColor}};"></div>
                    <div class="clear"></div>
                    {{/if}}                    
                    </h2>
				</div>
			{{/if}}
			{{#if blockDescription}}
                <div class="skt-builder-block-description">{{{blockDescription}}}</div>
            {{/if}}
			<div class="skt-builder-columns-row skt-builder-columns-row-{{blockColumnsCount}}column">
			{{#if blockColumns.length}}
				{{#each_with_sort blockColumns "order"}}                               	
					<div class="skt-builder-column skt-builder-shape-column skt-builder-shape-column-{{id}}">
                    
                    
                    <div class="skt-builder-column-bg" {{#if boxshapeBgColor}}style="background-color:{{boxshapeBgColor}}; padding: 30px 15px;"{{/if}} >                         
                            {{#if columnContent}}
                            <style>                                
							   .skt-builder-shape-column-{{id}} .skt-builder-shape-column-link a{color:{{blockButtonColor}};}
							   .skt-builder-shape-column-{{id}} .skt-builder-shape-column-link a{background:{{blockButtonBgColor}};}
							   .skt-builder-shape-column-{{id}}:hover .skt-builder-shape-column-link a{background:{{blockButtonBgColorHover}};}
                            </style>
                                <div class="skt-builder-column-inner">
                                    {{#if boximage}}<div class="diamondshape"><img src="{{boximage}}" /></div>{{/if}}
                                    <h4 class="skt-builder-shape-column-title" style="color: {{titleColor}};">{{title}}</h4>
                                    <div class="skt-builder-shape-column-text" style="color: {{DescColor}};">{{{columnContent}}}</div>
                                    {{#if blockButtonText}}
                                        <div class="skt-builder-shape-column-link">
                                            <a href="{{blockButtonLink}}">{{blockButtonText}}</a>
                                        </div>    
                                    {{/if}}
                                </div>
                            {{/if}}
                          
                     </div><!-- skt-builder-column-bg -->
					</div>                    
				{{/each_with_sort}}
			{{/if}}
           
			</div>
		</div>
	</div>
</div>

<script>
jQuery(document).ready(function() {
    jQuery('p').each(function() {
        var $this = jQuery(this);
        if($this.html().replace(/\s|&nbsp;/g, '').length == 0) {
            $this.remove();
        }
    });
});

jQuery(document).ready(function() {
    jQuery('p').each(function() {
        var $this = jQuery(this);
        if($this.html().replace(/\s|<br>/g, '').length == 0) {
            $this.remove();
        }
    });
});
</script>

{{#if blockAnimation}}
<script>
jQuery.noConflict();
jQuery(document).ready(function(){
jQuery(window).scroll(function(){
    // This is then function used to detect if the element is scrolled into view
    function elementScrolled(elem)
    {
        var docViewTop = jQuery(window).scrollTop();
        var docViewBottom = docViewTop + jQuery(window).height();
        var elemTop = jQuery(elem).offset().top;
        return ((elemTop <= docViewBottom) && (elemTop >= docViewTop));
    }

	if (jQuery('.skt-builder-block-inner-{{id}}').length > 0) {
	if(elementScrolled('.skt-builder-block-inner-{{id}}')) {
        var els = jQuery('.skt-builder-block-inner-{{id}}'),
            i = 0,
            f = function () {
                jQuery(els[i++]).addClass('{{blockAnimationEffect}}');
                if(i < els.length) setTimeout(f, 400);
            };
        f();
    }}

});
});
</script>
{{/if}}